.container.header
    .row
        .col-xs-12.col-sm-12.col-md-3.header__logo
            a(href="#")
                img(src="./img/icwt-logo.svg", alt="logo")
        .col-xs-12.col-sm-12.col-md-6.header__nav

        .col-xs-12.col-sm-12.col-md-3.header__btns
        


