main.main
    .first-box.box-bg_blue.d-flex.align-items-center
        .container
            .row
                .col-md
                .col-12.col-md-10
                    .row
                        .col-12
                            h3.title-first INTELLECTUAL CYBER WEB TECHNOLOGY
                    .row
                        .col-12
                            h1.title-second Turning Ads Into The Profit
                    .row
                        .col-12
                            p.text ICWT – a high-quality advertising network for shortly reaching commercial success.<br> Only credible ad formats supplemented by wide customization features create<br> ample opportunities for running an effective advertising campaign.
                    .row
                        .col-12.buttons
                            a(href="#").button_monetize.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center  MONETIZE
                            a(href="#").button_ADVERTIZE.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center  ADVERTIZE
                .col-md
    .second-box
        .container
            .row
                .col-12
                    h2.second-box__title Our Features
            .row
                .col-12.col-md-3.second-box__first-stick
                    .blue-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-01.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style COST<br> PER MILLE
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style Up-to-date pricing model which allows advertisers to fairly evaluate the effectiveness of a particular ad
                .col-12.col-md-3.second-box__second-stick
                    .green-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-02.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style ADVANCED <br>TARGETING
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style Reach the right audience at the right time and place to become the main focus of their attention
                .col-12.col-md-3.second-box__third-stick
                    .blue-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-03.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style REAL-TIME <br>DETAILED STATISTICS
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style Flexible statistic data which displays only relevant information about your ad promotion progress
                .col-12.col-md-3.second-box__fourth-stick
                    .green-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-04.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style 24 / 7 QUALIFIED <br>SUPPORT
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style Informational assistance from professional consultants is available round the clock
            .row.second-box__margin-next-row
                .col-12.col-md-3.second-box__fifth-stick
                    .green-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-05.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style ADVERTISING NETWORKS<br> ROTATION
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style We match the advertisers’ offers with the customers’ demand and create the potential clients
                .col-12.col-md-3.second-box__sixth-stick
                    .blue-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-06.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style COMPETITIVELY <br>LOW FEES
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style Reasonable fee rate enables us to provide high-quality service and still remain favorable for our clients
                .col-12.col-md-3.second-box__seventh-stick
                    .green-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-07.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style ADS<br> CUSTOMIZATION
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style The wide range of features for ads customization helps to fit your message into the website page
                .col-12.col-md-3.second-box__eighth-stick
                    .blue-stick__img-box.d-flex.align-items-center.justify-content-center
                        img(src="img/icon-08.svg", alt="")
                    .first-stick__title.d-flex.align-items-center.justify-content-center
                        h3.stick__title_style AFFILIATE <br>PROGRAM
                    .first-stick__text.d-flex.align-items-center.justify-content-center
                        p.stick__text_style A partnership with ICWT is a beneficial opportunity to gain a new riskless source of income
    .third-box.blur-box-with-lines
        .container
            .row
                .col-md-3
                .col-12.col-md-6
                    h3.third-box__title.d-flex.align-items-center.justify-content-center Create a free account in ICTW ADS 
                    span.third-box__span.d-flex.align-items-center.justify-content-center and run the campaign in a few minutes
                .col-md-3
            .row
                .col-12.d-flex.align-items-center.justify-content-center
                    a(href="#").third-box__button.btn_font-color_blue.button_hover-and-active.d-flex.align-items-center.justify-content-center  CREATE A CAMPAIGN
    .fourth-box
        .container
            .row
                .col-12
                    h2.fourth-box__title.d-flex.align-items-center.justify-content-center They already made sure 
                    span.fourth-box__span.d-flex.align-items-center.justify-content-center of our effectiveness        
            .row.d-flex.flex-wrap.align-items-center.justify-content-center
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-viking-farms.png", alt="")
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-vms.png", alt="")
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center 
                        img(src="img/logo-bascom.png", alt="")                         
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-vermont-village.png", alt="")
            .row.d-flex.flex-wrap.align-items-center.justify-content-center
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-whisper-hill.png", alt="")
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-shm.png", alt="")
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center 
                        img(src="img/logo-tretap.png", alt="")                         
                .col-12.col-md-6.col-lg-3
                    .fourth-box__box-label.d-flex.align-items-center.justify-content-center
                        img(src="img/logo-mse.png", alt="")
    .fifth-box.box-bg_blue
        .container
            .row
                .col-12
                    h2.fifth-box__title.d-flex.align-items-center.justify-content-center Spot Your Advertisement Format
                    span.fifth-box__span.d-flex.align-items-center.justify-content-center Choose and combine the best Advertising Solutions for reaching a Major Impact
            .row
                .col-12.fifth-box__box-for-tabs
                    ul(id="myTab" role="tablist").nav.nav-tabs.nav-fill.nav-overflow
                        li.nav-item.col-12.col-sm-6.col-md-3.no-padding
                            a(id="teasers-tab" role="tab" aria-controls="teasers" aria-selected="true" data-toggle="tab" href="#teasers").nav-link.active.fifth-box__batton-tabs.fifth-box__batton-tabs_right-line.d-flex.align-items-center.justify-content-center Teasers
                        li.nav-item.col-12.col-sm-6.col-md-3.no-padding
                            a(id="context-tab" role="tab" aria-controls="context" aria-selected="false" data-toggle="tab" href="#context").nav-link.fifth-box__batton-tabs.fifth-box__batton-tabs_right-line.d-flex.align-items-center.justify-content-center context
                        li.nav-item.col-12.col-sm-6.col-md-3.no-padding
                            a(id="banners-tab" role="tab" aria-controls="banners" aria-selected="false" data-toggle="tab" href="#banners").nav-link.fifth-box__batton-tabs.fifth-box__batton-tabs_right-line.d-flex.align-items-center.justify-content-center banners
                        li.nav-item.col-12.col-sm-6.col-md-3.no-padding
                            a(id="mobile-tab" role="tab" aria-controls="mobile" aria-selected="false" data-toggle="tab" href="#mobile").nav-link.fifth-box__batton-tabs.d-flex.align-items-center.justify-content-center mobile
                    div(id="myTabContent").tab-content
                        div(id="teasers" role="tabpanel" aria-labelledby="teasers-tab").tab-pane.fade.show.active
                            .container-fluid
                                .row
                                    .col-12.col-md-8.col-lg-6.d-flex.align-items-center.justify-content-center
                                        img(src="/img/mac.png", alt="").teasers-pisition.img_max-width.d-flex.align-items-center.justify-content-center
                                    .col-12.col-md-4.col-lg-6
                                        h3.tabs__title.tabs-content_center-media768 One of the most interest-provoking advertising method.
                                        span.tabs__span.tabs-content_center-media768 An appealing picture with an attractive headline create a true highlight of the page, which is difficult to ignore. Wide customization options help to configure and maintain this popular ad format in accordance with advertiser needs and user expectations.
                                        br
                                        a(href="#").tabs-content_center-media768.tabs__button.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center Create a campaign

                        div(id="context" role="tabpanel" aria-labelledby="context-tab").tab-pane.fade
                            .row
                                .col-12.col-md-8.col-lg-6.d-flex.align-items-center.justify-content-center
                                    img(src="/img/context.png", alt="").img_max-width
                                .col-12.col-md-4.col-lg-6
                                    h3.tabs__title.tabs-content_center-media768 Textual ads - easy and fruitful format for commercial goals
                                    span.tabs__span.tabs-content_center-media768 Texts are suitable advertising tool for any-purpose promotion campaign. Thanks to adaptive design and wide customization options, this kind of ads naturally fits into main content of the page and softly induce visitors to follow them.
                                    br
                                    a(href="#").tabs-content_center-media768.tabs__button.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center Create a campaign
                        div(id="banners" role="tabpanel" aria-labelledby="banners-tab").tab-pane.fade
                            .row
                                .col-12.col-md-8.col-lg-6.d-flex.align-items-center.justify-content-center
                                    img(src="/img/banners.png", alt="").img_max-width
                                .col-12.col-md-4.col-lg-6
                                    h3.tabs__title.tabs-content_center-media768 An ultimate eye-catching advertising format to draw viewers’ attention
                                    span.tabs__span.tabs-content_center-media768 Banners are an effective image-based promotional tool to notify users of the product. Accompanied by useful customization features, high-quality placement, and animating possibility, these influential ads leave the little possibility to remain unnoticed.
                                    br
                                    a(href="#").tabs-content_center-media768.tabs__button.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center Create a campaign
                        div(id="mobile" role="tabpanel" aria-labelledby="mobile-tab").tab-pane.fade
                            .row
                                .col-12.col-md-8.col-lg-6.d-flex.align-items-center.justify-content-center
                                    img(src="/img/mobile.png", alt="").img_max-width
                                .col-12.col-md-4.col-lg-6
                                    h3.tabs__title.tabs-content_center-media768 The up-to-day shortest way to reach your target audience
                                    span.tabs__span.tabs-content_center-media768 Due to the growth of mobile Internet users, mobile ad types became one of the most productive means for goods promotion. This flexible and easily managed ad format helps to access a larger number of viewers and increase the engagement rate.
                                    br
                                    a(href="#").tabs-content_center-media768.tabs__button.btn_font-color_white.button_hover-and-active.d-flex.align-items-center.justify-content-center Create a campaign
    .sixth-box
        .container
            .row
                .col-12.col-md-6
                    .container-fluid
                        .row
                            .col-12
                                h3.sixth-box__title The first-rate means for reaching the target market
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-left-001.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 5 minutes to setup a campaign 
                                span.sixth-box__span Quick and easy ads customization
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-left-002.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Manual sites selection  
                                span.sixth-box__span Choosing solely relevant ad platforms
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-left-003.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Real-time statistic  
                                span.sixth-box__span Only up-to-date ad campaign data
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-left-004.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 100% real users 
                                span.sixth-box__span Protection from any bot or suspicious activity
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-left-005.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Helpful support team 
                                span.sixth-box__span Timely assistance from qualified consultants
                .col-12.col-md-6
                    .container-fluid
                        .row
                            .col-12
                                h3.sixth-box__title For publishers who want to monetize the site
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-right-001.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Easy to operate 
                                span.sixth-box__span Just paste the ad code to the site
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-right-002.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Clear statistics  
                                span.sixth-box__span Detailed views and clicks reports
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-right-003.svg", alt="")                            
                            .col-9.col-sm-10.col-sm-2.col-md-9.col-lg-10
                                h4.sixth-box__h4 Full safety  
                                span.sixth-box__span Checked and approved advert messages 
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-right-004.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Quick payments 
                                span.sixth-box__span Fast and safe generation of income
                        .row.padding_bottom
                            .col-3.col-sm-2.col-md-3.col-lg-2
                                img(src="img/icon-right-005.svg", alt="")                            
                            .col-9.col-sm-10.col-md-9.col-lg-10
                                h4.sixth-box__h4 Various ad settings 
                                span.sixth-box__span Easy ads adaption to the site design
    .seventh-box.blur-box-with-lines
        .container
            .row
                .col-12
                    h3.seventh-box__title Sign up today
            .row
                .col-10.offset-1.col-md-6.offset-md-3.sevent-box__box-for-tabs
                    ul(id="myTab" role="tablist").nav.nav-tabs.nav-fill.nav-overflow
                        li.nav-item.col-12.col-sm-6.no-padding
                            a(id="advertiser-tab" role="tab" aria-controls="advertiser" aria-selected="true" data-toggle="tab" href="#advertiser").nav-link.active.fifth-box__batton-tabs.d-flex.align-items-center.justify-content-center i'm an advertiser
                        li.nav-item.col-12.col-sm-6.no-padding
                            a(id="webmaster-tab" role="tab" aria-controls="webmaster" aria-selected="false" data-toggle="tab" href="#webmaster").nav-link.fifth-box__batton-tabs.d-flex.align-items-center.justify-content-center i'm an webmaster
                    div(id="myTabContent").tab-content
                        div(id="advertiser" role="tabpanel" aria-labelledby="advertiser-tab").tab-pane.fade.show.active
                            .container-fluid
                                .row
                                    .col-12
                                        form(action="#").form
                                            label(for="email").form__label Ready for new customers?
                                            input(type="email", name="Your Email" placeholder="Your Email").form__input
                                            input(type="text", name="Company name" placeholder="Company name").form__input
                                            input(type="text", name="name" placeholder="Name").form__input
                                            input(type="password", name="password" placeholder="Password").form__input
                                            input(type="submit", value="Sign Up").form__button.button_hover-and-active
                                            span.form_span We will help you to set up and launch an advertising campaign free of charge if you encounter difficulties in.

                                            
                        div(id="webmaster" role="tabpanel" aria-labelledby="webmaster-tab").tab-pane.fade
                            .container-fluid
                                .row
                                    .col-12
                                        form(action="#").form
                                            label(for="email").form__label Want to earn more?
                                            input(type="email", name="Your Email" placeholder="Your Email").form__input
                                            input(type="text", name="Your site URL" placeholder="Your site URL").form__input
                                            input(type="text", name="name" placeholder="Name").form__input
                                            input(type="password", name="password" placeholder="Password").form__input
                                            input(type="submit", value="Sign Up").form__button.button_hover-and-active
                                            span.form_span We will help you to place ad blocks on your website for free if you have difficulties.
                