.header{
    min-height: 80px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #0000001A;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}



.header-navbar{
    display: inline-block;
    padding-left: auto;
    padding-right: auto;
    
}

.header-navbar-ul{
    @extend %marginUl;
}

.header-navbar-ul__li{
    display:inline-block;
    font-size: 16px;
    display: inline-block;
    padding:8px 15px 8px 0px;
   
}

.header-navbar-ul__li_a-text-style{
    @extend %nullLink;
    color:#7E7E7E ;
    font-weight: bold;
    font-family: $Raleway;
    font-size: 16px;

    
}

.header-navbar-ul__li_a-text-style:hover{
    color:#0073B9 !important;
}

.header-navbar-ul__li_a-text-style:focus{
    color:#00B5FF !important;
}

.header-btn__login{
    @extend %nullLink;
    width: 139px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: $Raleway;
    color: #7E7E7E;
    text-decoration: underline !important;
    background: rgba(255, 255, 255, 0);
}

.header-btn__sign{
    @extend %nullLink;
    width: 139px;
    height: 40px;
    background: transparent linear-gradient(270deg, #00B5FF 0%, #0073B9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000033;
    border-radius: 8px;
    opacity: 1;
    color:#FFFFFF;
    font-size: 14px;
    font-family: $Raleway;
    font-weight: bold;
}



.menuBar {
    @extend %baseTransition;
    position: fixed;
    top: 22px;
    left: 14px;
    display: block;
    width:$width-line;
    height:$height-icon;
    z-index: 990;
    border-color: #FFFFFF !important;
    &:hover {
        opacity: .7;
    }
    &__item {
        position:absolute;
        left:0;
        display: block;
        width:$width-line;
        height:$height-line;
        border-radius: 1px;
        background-color: $barsColor;
        transition: all $transition-time;
        -webkit-transition: all $transition-time;
        -moz-transition: all $transition-time;
        &-1{
            top:0;
        }
        &-2{
            top:50%;
        }
        &-3{
            top:100%;
        }
    }
    &_active{
        .menuBar__item-1{
            transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
        }
        .menuBar__item-2{
            opacity:0;
        }
        .menuBar__item-3{
            transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            -webkit-transform: translateY($translateY * -0.85) translateX($translateX) rotate($rotation * -1);
            -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        }
    }
}

.navbar_position-collapse{
    padding-top:60px;
    padding-bottom:60px;
}

.button_display-menu{
    padding-top: 60px;
}


