.main {
    }

body{
    height: 630px;
    width: 1440px;
    background: linear-gradient(151deg, #fafafa 30%, #cccccc 100%);
}

.body-background {
    height: 630px;
    width: 1280px;
    background-image: url(./map-texture.svg);
}

.map{
    height: 242px;
    width: 100%;
}

.map__iframe{
    width: 100%;
    height: 100%;
}