.container {
    max-width: 1170px;
}

%nullLink {
    text-decoration: none;
    &.header-navbar-ul__li_a-text-style:hover{
        color:#7E7E7E;
        text-decoration: none;
    }
    &.header-btn__login:hover{
        color:#7E7E7E;
        text-decoration: underline;
    }
    &.btn_font-color_white{
        color:#FFFFFF;
        text-decoration: none;
    }
    &.btn_font-color_blue:hover{
        color:#0074BA;
        text-decoration: none;
    }

}

%nullList {
    list-style: none;
}

%nullInputs {
    outline: none;
}

%baseFlex {
    display: flex;
}

%columnFlex {
    flex-direction: column;
}

%flexFullCenter {
    justify-content: center;
    align-items: center;
}

%justifyCenter {
    justify-content: center;
}

%alignCenter {
    align-items: center;
}

%textCenter {
    text-align: center;
}

%basePos {
    position: relative;
    z-index: 1;
}

%absolutePos {
    position: absolute;
}

%marginUl {
    margin-bottom: 0 ;
}

%marginCenter {
    margin: 0 auto;
}

%baseTransition {
    transition: .5s;
}

%fullAbsolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

%nullWord{
    white-space: nowrap;
}

%baseFontBold{
    font-family: SofiaProBold;
}
%duoFont{
    font-family: 'Roboto', sans-serif; 
}
